# InfinityFree deployment example

CI_ENVIRONMENT = production

app.baseURL = 'https://your-subdomain.infinityfreeapp.com/'

database.default.hostname = 'sqlXXX.infinityfree.com'
database.default.database = 'epiz_xxxxxxxx_inventory_system_db'
database.default.username = 'epiz_xxxxxxxx'
database.default.password = 'your_db_password'
database.default.DBDriver = MySQLi

# Optional Cloudinary
# cloudinary.cloudName = 'your_cloud_name'
# cloudinary.apiKey = 'your_api_key'
# cloudinary.apiSecret = 'your_api_secret'
# cloudinary.folder = 'inventory-system/products'
